body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#sing{
    text-align: right;
}
#head3{
    text-align: center;
}
.me{
    display: flex;
    margin-top: 100px;
}
.f-div{
    width: 40%;
    padding: 5%;
}
.f-div img{
    width: 80%;
    border-radius: 100px;
}
h1 {
    font-size: 50px;
    text-align: center;
  }
  #mid{
      text-align: center;
      color: darkseagreen;
  }
  .nevy{
      color: darkgoldenrod;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30%;
  }
.first{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.new{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 20px;
    color: wheat;
    font-weight: 700;
    border-radius: 5px;
}
.shadow{
    width: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px rgb(26, 25, 24);
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    font-size:15px ;
}
.pic img{
    width: 80%;
    border-radius: 100px;
}
footer p{
    text-align: center;
    color: rgba(137, 153, 138, 0.562);